<link rel="stylesheet" href="/styles/login-popup.css">
<div class="login-popup-overlay" id="login-popup-overlay">
  <div class="login-popup-content" id="login-popup">
    <h2><%= __("LoginPopup.title") %></h2>
    <form id="login-form">
      <label for="login-email"><%= __("LoginPopup.emailLabel") %></label>
      <input
        type="email"
        id="login-email"
        name="email"
        required
        placeholder="<%= __("LoginPopup.emailPlaceholder") %>"
      />
      <label for="login-password"><%= __("LoginPopup.passwordLabel") %></label>
      <input
        type="password"
        id="login-password"
        name="password"
        required
        placeholder="<%= __("LoginPopup.passwordPlaceholder") %>"
      />
      <p class="forgot-password-text">
        <a href="#" id="forgot-password-link"><%= __("LoginPopup.forgotPassword") %></a>
      </p>     
      <button type="submit"><%= __("LoginPopup.loginButton") %></button>
    </form>
    <p class="login-switch-text">
      <%= __("LoginPopup.dontHaveAccount") %>
      <span class="login-switch-link" id="switch-to-register"><%= __("LoginPopup.registerLink") %></span>
    </p>
    <span class="login-close-popup" id="login-close-popup">&times;</span>
  </div>
</div>


<%- include("./forgot-password-popup") %>
