<link rel="stylesheet" href="/styles/job-ads-create.css" />
<div id="job-ad-create-modal" class="modal">
  <div class="modal-content">
    <span class="close-btn" id="close-create-modal">&times;</span>
    <h1><%= __("JobAdsCreate.title") %></h1>
    <form id="job-ad-create-form">
      <div class="form-group">
        <label for="title"><%= __("JobAdsCreate.labels.title") %></label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="<%= __('JobAdsCreate.placeholders.title') %>"
          required
        />
      </div>
      <div class="form-group">
        <label for="description"><%= __("JobAdsCreate.labels.description") %></label>
        <textarea
          id="description"
          name="description"
          placeholder="<%= __('JobAdsCreate.placeholders.description') %>"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <label for="location"><%= __("JobAdsCreate.labels.location") %></label>
        <input
          type="text"
          id="location"
          name="location"
          placeholder="<%= __('JobAdsCreate.placeholders.location') %>"
        />
      </div>
      <div class="form-group">
        <label for="category"><%= __("JobAdsCreate.labels.category") %></label>
        <input
          type="text"
          id="category"
          name="category"
          placeholder="<%= __('JobAdsCreate.placeholders.category') %>"
        />
      </div>
      <div class="form-group">
        <label for="expiration_date"><%= __("JobAdsCreate.labels.expirationDate") %></label>
        <input
          type="date"
          id="expiration_date"
          name="expiration_date"
          required
        />
      </div>
      <div class="form-group">
        <label for="required_documents"><%= __("JobAdsCreate.labels.requiredDocuments") %></label>
        <div id="required-documents-dropdown" class="dropdown">
          <button type="button" id="dropdown-button">
            <%= __("JobAdsCreate.placeholders.selectDocuments") %>
          </button>
          <div id="dropdown-menu" class="dropdown-menu">
            <label>
              <input type="checkbox" value="CV" class="document-checkbox" />
              <%= __("JobAdsCreate.documents.cv") %>
            </label>
            <label>
              <input type="checkbox" value="Motivation Letter" class="document-checkbox" />
              <%= __("JobAdsCreate.documents.motivationLetter") %>
            </label>
            <label>
              <input type="checkbox" value="Recommendations" class="document-checkbox" />
              <%= __("JobAdsCreate.documents.recommendations") %>
            </label>
          </div>
        </div>
        <input
          type="hidden"
          id="required_documents_json"
          name="required_documents"
        />
      </div>
      <div class="form-group">
        <label for="custom_questions"><%= __("JobAdsCreate.labels.customQuestions") %></label>
        <button type="button" id="add-question-btn" class="add-question-btn">
          <%= __("JobAdsCreate.buttons.addQuestion") %>
        </button>
        <div id="custom-questions-container" class="custom-questions-container"></div>
        <input type="hidden" id="custom_questions_json" name="custom_questions" />
      </div>
      <button type="submit" class="create-ad-submit-btn">
        <%= __("JobAdsCreate.buttons.submit") %>
      </button>
    </form>
  </div>
</div>
<%- include('./custom-question') %>
