<link rel="stylesheet" href="/styles/apply-form.css" />
<div class="apply-popup-overlay" id="applyPopup">
  <div class="apply-popup-container">
    <button class="apply-popup-close-btn" id="closePopup">&times;</button>
    <h2 class="apply-popup-title">Apply for <%= jobAd.title %></h2>
    <% const missingDocuments = jobAd.required_documents.filter(
      (doc) => !candidateDocuments[doc]
    ); %>
    <% if (missingDocuments.length > 0) { %>
      <div class="apply-popup-missing-documents">
        <p class="apply-popup-description">
          You are missing the following required documents:
        </p>
        <ul>
          <% missingDocuments.forEach((doc) => { %>
            <li><%= doc %></li>
          <% }); %>
        </ul>
        <p class="apply-popup-note">
          Please upload these documents to your profile before applying.
        </p>
      </div>
    <% } else { %>
      <form id="applicationForm" class="apply-popup-form">
        <input type="hidden" name="jobAdId" value="<%= jobAd.id %>" />
        <% jobAd.custom_questions.forEach((question) => { %>
          <div class="apply-popup-form-group">
            <label for="question_<%= question.id %>" class="apply-popup-label">
              <%= question.question %> <% if (question.required) { %>
                <span class="apply-popup-required">*</span>
              <% } %>
            </label>
            <% if (question.type === "text") { %>
              <input
                type="text"
                id="question_<%= question.id %>"
                name="answers[<%= question.id %>]"
                class="apply-popup-input"
                <%= question.required ? "required" : "" %>
              />
            <% } else if (question.type === "radio") { %>
              <% question.options.forEach((option) => { %>
                <div class="apply-popup-radio-group">
                  <input
                    type="radio"
                    id="question_<%= question.id %>_<%= option %>"
                    name="answers[<%= question.id %>]"
                    value="<%= option %>"
                    class="apply-popup-radio"
                    <%= question.required ? "required" : "" %>
                  />
                  <label
                    for="question_<%= question.id %>_<%= option %>"
                    class="apply-popup-radio-label"
                  >
                    <%= option %>
                  </label>
                </div>
              <% }); %>
            <% } else if (question.type === "dropdown") { %>
              <select
                id="question_<%= question.id %>"
                name="answers[<%= question.id %>]"
                class="apply-popup-dropdown"
                <%= question.required ? "required" : "" %>
              >
                <% question.options.forEach((option) => { %>
                  <option value="<%= option %>"><%= option %></option>
                <% }); %>
              </select>
            <% } else if (question.type === "checkbox") { %>
              <% question.options.forEach((option) => { %>
                <div class="apply-popup-checkbox-group">
                    <input
                      type="checkbox"
                      id="question_<%= question.id %>_<%= option %>"
                      name="answers[<%= question.id %>][]"
                      value="<%= option %>"
                      class="apply-popup-checkbox"
                    />
                    <label
                      for="question_<%= question.id %>_<%= option %>"
                      class="apply-popup-checkbox-label"
                    >
                      <%= option %>
                    </label>
                  </div>                  
              <% }); %>
            <% } %>
          </div>
        <% }); %>
        <button type="button" id="submitApplication" class="apply-popup-submit-btn">
          Submit Application
        </button>
      </form>
    <% } %>
  </div>
</div>
